
@{
    ViewData["Title"] = "CreateUser";
}

<h1>CreateUser</h1>

<form asp-action="CreateUser" method="post">

    <input type="text" name="username" required placeholder="Username" />
    <input type="email" name="email" required placeholder="E-mail" />
    <input type="password" name="password" required placeholder="Password" />

    <input type="submit" value="Create"/>
</form>